<html>
  <head>
    <title>Gateway</title>
    <link rel="icon"  href="media/favicon.png" />
    <script type="text/javascript"> </script>
    <link rel="stylesheet" href="style.css" type="text/css">
  </head>
  <body>
    <div id="abi" class="none"> [{"constant": false, "inputs": [{"name": "_spender", "type": "address"}, {"name": "_value", "type": "uint256"}], "name": "approve", "outputs": [{"name": "success", "type": "bool"}], "payable": false, "stateMutability": "nonpayable", "type": "function"}, {"constant": false, "inputs": [{"name": "_spender", "type": "address"}, {"name": "_value", "type": "uint256"}, {"name": "_extraData", "type": "bytes"}], "name": "approveAndCall", "outputs": [{"name": "success", "type": "bool"}], "payable": false, "stateMutability": "nonpayable", "type": "function"}, {"constant": false, "inputs": [{"name": "_value", "type": "uint256"}], "name": "burn", "outputs": [{"name": "success", "type": "bool"}], "payable": false, "stateMutability": "nonpayable", "type": "function"}, {"constant": false, "inputs": [{"name": "_from", "type": "address"}, {"name": "_value", "type": "uint256"}], "name": "burnFrom", "outputs": [{"name": "success", "type": "bool"}], "payable": false, "stateMutability": "nonpayable", "type": "function"}, {"constant": false, "inputs": [{"name": "_to", "type": "address"}, {"name": "_value", "type": "uint256"}, {"name": "data", "type": "string"}], "name": "gateway", "outputs": [], "payable": false, "stateMutability": "nonpayable", "type": "function"}, {"constant": false, "inputs": [{"name": "_to", "type": "address"}, {"name": "_value", "type": "uint256"}, {"name": "data", "type": "string"}], "name": "reciept", "outputs": [], "payable": false, "stateMutability": "nonpayable", "type": "function"}, {"constant": false, "inputs": [{"name": "_to", "type": "address"}, {"name": "_value", "type": "uint256"}], "name": "transfer", "outputs": [], "payable": false, "stateMutability": "nonpayable", "type": "function"}, {"constant": false, "inputs": [{"name": "_from", "type": "address"}, {"name": "_to", "type": "address"}, {"name": "_value", "type": "uint256"}], "name": "transferFrom", "outputs": [{"name": "success", "type": "bool"}], "payable": false, "stateMutability": "nonpayable", "type": "function"}, {"inputs": [{"name": "initialSupply", "type": "uint256"}, {"name": "tokenName", "type": "string"}, {"name": "tokenSymbol", "type": "string"}], "payable": false, "stateMutability": "nonpayable", "type": "constructor"}, {"anonymous": false, "inputs": [{"indexed": false, "name": "_to", "type": "address"}, {"indexed": false, "name": "_value", "type": "uint256"}, {"indexed": false, "name": "data", "type": "string"}], "name": "gatewayEvent", "type": "event"}, {"anonymous": false, "inputs": [{"indexed": false, "name": "_to", "type": "address"}, {"indexed": false, "name": "_value", "type": "uint256"}, {"indexed": false, "name": "data", "type": "string"}], "name": "recieptEvent", "type": "event"}, {"anonymous": false, "inputs": [{"indexed": true, "name": "from", "type": "address"}, {"indexed": true, "name": "to", "type": "address"}, {"indexed": false, "name": "value", "type": "uint256"}], "name": "Transfer", "type": "event"}, {"anonymous": false, "inputs": [{"indexed": true, "name": "from", "type": "address"}, {"indexed": false, "name": "value", "type": "uint256"}], "name": "Burn", "type": "event"}, {"constant": true, "inputs": [{"name": "", "type": "address"}, {"name": "", "type": "address"}], "name": "allowance", "outputs": [{"name": "", "type": "uint256"}], "payable": false, "stateMutability": "view", "type": "function"}, {"constant": true, "inputs": [{"name": "", "type": "address"}], "name": "balanceOf", "outputs": [{"name": "", "type": "uint256"}], "payable": false, "stateMutability": "view", "type": "function"}, {"constant": true, "inputs": [], "name": "decimals", "outputs": [{"name": "", "type": "uint8"}], "payable": false, "stateMutability": "view", "type": "function"}, {"constant": true, "inputs": [], "name": "name", "outputs": [{"name": "", "type": "string"}], "payable": false, "stateMutability": "view", "type": "function"}, {"constant": true, "inputs": [], "name": "symbol", "outputs": [{"name": "", "type": "string"}], "payable": false, "stateMutability": "view", "type": "function"}, {"constant": true, "inputs": [], "name": "totalSupply", "outputs": [{"name": "", "type": "uint256"}], "payable": false, "stateMutability": "view", "type": "function"}] </div>

    <div id="app">
      <center>
        <h1>
          <img class="head" src="media/32px.png"/>
          Gateway
          <img class="head flip" src="media/32px.png"/>
        </h1>
        <h3> Supply Limit : 200,000 wBismuth  </h3>
        <h3> Available Supply : {{supply}} wBismuth  </h3>

        <table class="left">
          <tr><td> Flat Fee On Deposit : 20 Bismuth </td> </tr>
          <tr><td> No Fee On Withdraw </td> </tr>
          <tr><td> Processing Is Done Every 15 Minutes </td> </tr>
          <tr><td> 12 Confirmations On Each Network</td> </tr>
        </table>
        
        <h2> <span class="color1" > Bismuth </span>&#8680; <span class="color1" >wBismuth</span> </h2>
        <p> !! In data field fill Ethereum address you want to receive the tokens !! </p>
        <p> Send Bismuth to : 42156291abb50f88064a67783d108d4ce53afb11502b0a95fdb0ff1c </p>
        <p> !! In data field fill Ethereum address you want to receive the tokens !! </p>

        <h2> <span class="color2" >wBismuth</span> &#8680; <span class="color2" > Bismuth </span> </h2>
        <p> <small> (Requires Metamask)</small> </p>
        <table>
          <tr>
            <td> Amount:</td> <td><input  type="number" v-model="amount" >  </input> </td>
          </tr>
          <tr>
            <td> Bismuth Receive Address : </td><td> <input v-model="bis_address">   </input></td> 
          </tr>
          <tr>
            <td colspan="2" >
              <button v-on:click="send">Send</button>
            </td>
          </tr>
        </table>

        <br/>
        <p> <a href="https://info.uniswap.org/pair/0x7ec5b4473e5bC8815DAb476025B3534765F691ca">Uniswap Pair<br/> <img src="media/uniswap.png" width="56px"/><a/> </p>
        <p> ERC20 solidity contract : <a href="gateway.sol">gateway.sol</a></p>
        <p><a href="https://hypernodes.bismuth.live/?p=2289"> Q&A session with wBismuth Devs</a> </p>
        <p> In about two weeks we will open source the gateway backend.</p>
        <br/>
        <p>
          <!-- <img src="media/email.png"    width="32px" class="invert "/> -->
          <a href="https://discord.com/invite/8t2ASwF">Discord</a>
          <a href="https://wrap-gateway.gitlab.io/wbismuth/">Gitlab</a>
        </p>
      </center>
    </div>

  </body>

  <script src="vue.js"> </script>
  <script src="bignumber.js" type="text/javascript"></script>
  <script src="web3.min.js" type="text/javascript"></script>
  <script src="gateway.js"></script>

</html>


