
body {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 18px;
    xbackground-color:black;
    xcolor:white;
}
button {
    xcolor: white;
    xbackground-color: black;
}
input {
    padding: 0px 2px;
    text-align:right;
    xcolor: white;
    xbackground-color: black;
}
.box {
    border: 1px dashed salmon;
    position: absolute;
}
.head {
    position: relative;
    top: 4px;
}
.invert {
filter: invert(1);
}
.flip {
    transform: scaleX(-1);
}
.color1 {
    color: #b265c2;
}
.color2 {
    color: #5fa1ed;
}
td {
    text-align: center;
    padding-left:10px;
    padding-right:10px;
}
table{
    margin-bottom: 5px;
}
label{
    width: 140px;
    display: inline-block;
    margin-bottom:7px;
}
form{
    margin-left:50px;
}
p{
}
.list-icon{
    top: 10px;
    position: relative;
}

.i-short{
    width:60px;
    text-align:center;
}
.none {
    display:none;
}
.left {
    border: 1px gray solid;
}
.left td {
    text-align:left;
}